'type': 'MARKDOWN_NOTE'
'folder': 'bddc3f018fe113d76192'
'title': 'science'
'content': '#science\n\n|vocabulary words  | dosent belong|\n|------------------|--------------|\n|Enzyme            |              |\n|Denature          |              |\n|Transcription     |              |\n|Chemical Reactions|              |\n|Niche             |       *      |\n\nselective breeding is when\n\n|Teqnuique | Description | Results|\n|----------|-------------|--------|'
'tags': []
'isStarred': false
'isTrashed': false
'createdAt': '2018-03-19T15:26:16.807Z'
'updatedAt': '2018-03-24T14:06:39.343Z'
