'createdAt': '2018-03-25T13:33:10.408Z'
'updatedAt': '2018-04-10T14:43:08.380Z'
'type': 'MARKDOWN_NOTE'
'folder': 'b3028843d6c1bf34fb83'
'title': 'game boy zero'
'content': '# game boy zero\n\n## Prices\n| price |thing|quantity|\n|-------|-----|--------|\n|$40.23 |case |1x      |\n|'
'tags': []
'isStarred': false
'isTrashed': false
