'createdAt': '2018-03-16T20:30:55.378Z'
'updatedAt': '2018-04-11T10:53:39.391Z'
'type': 'MARKDOWN_NOTE'
'folder': 'b3028843d6c1bf34fb83'
'title': 'TO-DO'
'content': '# TO-DO\n3-16-18\n- [x] Ela HW\n- [x] SS HW\n- [x] DDP HW\n- [x] DDP Study\n- [x] Sceince HW\n- [x] double space ela'
'tags': []
'isStarred': false
'isTrashed': false
